In [23]:
import pandas as pd
pd.set_option('display.max_rows', None)
corp_info = pd.read_csv('corp.csv', header=0)
corp_info = corp_info[['종목코드','종목명','종가','상장주식수']]
corp_result = pd.read_excel('SAMPLE_2018.xlsx')
corp_data = corp_result[['종목코드','당기순이익']]
corp_total = pd.merge(corp_info, corp_data, how='left', on='종목코드')
corp_total = corp_info.join(corp_data.set_index('종목코드'), how='outer', on='종목코드')
corp_total["EPS"] = corp_total['당기순이익']/corp_total['상장주식수']
corp_total["PER"] = corp_total["종가"]/corp_total["EPS"]
#corp_filter = corp_total[(corp_total["PER"]>=12) & (corp_total["PER"]<=15) ]
#corp_filter

,종목코드,종목명,종가,상장주식수,당기순이익,EPS,PER
12.0,A028260,삼성물산,113000.0,186887081.0,1.748244e+12,9354.544646,12.079690
27.0,A033780,KT&G,81200.0,137292497.0,8.986593e+11,6545.582312,12.405313
38.0,A030200,KT,36600.0,261111808.0,7.623050e+11,2919.458166,12.536573